.carousel {
  width: 100%;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--primary-light-color-10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: box-shadow 0.3s;
  color: var(--primary-light-color);

  .icon {
    width: 20px;
    height: 20px;
  }

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }

  &:hover {
    box-shadow: 0 0 15px var(--primary-light-color-20);
  }
}

.tag {
  width: 100%;
  text-align: left;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: var(--graphic-color-10);
    width: 100%;
    height: 1px;
  }
}

.item {
  text-align: left;
  padding-right: 16px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.year {
  color: var(--primary-light-color);
  font-family: var(--font-bebas-neue);
  font-size: 25px;
  line-height: 120%;
  margin: 0;
}

.event {
  color: var(--text-color);
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  margin: 0;
}

.swiper {
  width: calc(100% - 160px);
  margin: 0 80px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.wrapper {
  width: 100%;
  transition: all 0.3s ease;
  will-change: opacity, transform;
}

@media screen and (max-width: 1640px) {
  .carousel {
    margin-bottom: 80px;
  }

  .item {
    gap: 10px;
  }

  .event {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

@media screen and (max-width: 1200px) {
  .item {
    min-width: 220px;
    gap: 10px;
  }

  .year {
    font-size: 20px;
    line-height: 120%;
  }

  .event {
    font-size: 16px;
    line-height: 120%;
  }
}

@media screen and (max-width: 980px) {
  .carousel {
    display: none;
    margin-bottom: 30px;
    margin-top: auto;
  }

  .mobile {
    display: flex;
  }

  .swiper {
    width: calc(100% + 80px);
    margin: 0 -40px;
  }

  .arrow {
    display: none;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: var(--text-color);
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s ease;
    padding: 0;

    &.active, &:hover {
      opacity: 1;
    }
  }

  .item {
    min-width: none;
    width: 210px;
    gap: 15px;
    padding-right: 0;
  }

  .year {
    font-weight: normal;
  }
}

@media screen and (max-width: 620px) {
  .swiper {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  .item {
    opacity: 0.4;
    transition: opacity 0.3s easy;

    &.active {
      opacity: 1;
    }
  }

  .year {
    font-size: 20px;
  }

  .event {
    font-size: 14px;
    line-height: 145%;
  }
}